html{
  height:100%;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/Background.jpg");
  padding:0;
  margin:0;
  font-family: sans-serif;
  min-height: 100%;
  display:grid;
  grid-template-rows: auto/ 1em 1fr 1em;
}


.contact a button{
  border: none;
  border-radius: 50px;
  background-color:rgba(22, 184, 0,1);
  cursor: pointer;
}
.contact a button:hover{
  background-color: rgba(22,184,0,0.9);
}

.queries{
  font-size:small;
}
.contact{
  color: #F0FDF3;
  background-image: linear-gradient(45deg,#62A2FD,#DE77FE,#B52FDF);
  text-align: center;
}
.Techstack{
  background-color: #1B1E1F;
  color:#F0FDF3;
}
.Techstack p{
  margin-left:200px;
  font-size: small;
}

footer{
  margin-top: auto;
 width: 100%;
 left:0px;
  bottom:0;
  grid-column: 1/-1;
}